<!DOCTYPE html>
<html lang="en">
<head>
<title>TinyApp</title>
</head>
<body>
<form method="POST" action="/login">
Enter Email: <input type="email" name="email">
Enter Password: <input type="password" name="password">
<input type="submit" value="Log in">
</form>
<form method="POST" action="/logout">
<button onclick="location.href;" class="float-left submit-button" >Sign out</button>
</form>
</body>
</html>

