<!DOCTYPE html>
<html lang="en">
<head>
<title>TinyApp</title>
</head>
<body>
<form method="POST" action="/register">
Enter Email: <input type="email" name="email">
Enter Password: <input type="password" name="password">
<input type="submit" value="register">
</form>
<form method="POST" action="/logout">
  <button onclick="location.href;" class="float-left submit-button" >Sign out</button>
</form>
<a href="/urls">Home</a>
</body>
</html>